DATABASE_URL
ANTHROPIC_API_KEY
ANTHROPIC_BASE_URL
ANTHROPIC_WORKSPACE_ID
ANTHROPIC_WORKSPACE_HEADER
GMAIL_CLIENT_ID
GMAIL_CLIENT_SECRET
IMAP_HOST
IMAP_USERNAME
IMAP_PASSWORD
TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID
NTFY_URL
NTFY_TOKEN
DASHBOARD_USERNAME
DASHBOARD_PASSWORD
